<h1> About Me </h1>
<div class="aboutme">
	<ul>
		<div class="blockone">
			<li>
				<p> Hi, my name is Nicole Tingey, but I am better known by my nickname Coco. I am 18 years old, and ambitious to take on the world. That may sound cheesy, but learning is my passion and I have a strong desire to help people and make a difference in the world.</p>
			</li>
			<%= image_tag "IMG_0332.jpg", :class => "selfimage" %>
		</div>
		<li>
			<p> <strong class="strong">I am a female programmer.</strong> I take pride in this statement, and I love what I do. Learning Ruby on Rails this past year has been one of the coolest and most exciting, yet frusturating and crazy things I have ever challeneged myself to do. Many people told me that it wasn't a career for women, but I have come to find out that all of those people were wrong. Studying programming has brought so many amazing opportunities in to my life. I would HIGHLY reccomend this career for any female. </p>
		<%= image_tag "IMG_0898.jpg", :class => "selfimage" %>
		</li>
		<li>
			<p> During my free time I enjoy: 
				<li>Blogging</li>
				<li>Studying fashion</li>
				<li>Playing with my camera</li> 
				<li>Hanging out with the people I love</li>
				<li>Making videos</li>
				<li>Kick boxing</li>
				<li>Singing &#38; playing the ukulele</li>
				<li>CODING</li>
				<hr>
				<hr>
		</li>
		<%= image_tag "IMG_1094.jpg", :class => "selfimages" %>
		<%= image_tag "IMG_1322.jpg", :class => "selfimages" %>
		<%= image_tag "IMG_1703.jpg", :class => "selfimages" %>
		<%= image_tag "IMG_1747.jpg", :class => "selfimages" %>
		<%= image_tag "IMG_1654.jpg", :class => "selfimages" %>
	</ul>
</div>

