<div class="showpost"
	<p id="notice"> <%= notice %> </p>
	<div class="sppost">
		<%= image_tag @post.image.url(:large) %>
		
		<div class="titlepost">
		<p>
		  <%= @post.title %>
		</p>
		</div>
		<p>
		  <%= @post.date %>
		</p>

		<p>
		  <%= @post.description %>
		</p>

		<%= link_to 'Posts', posts_path %>

		<%= link_to 'Edit', edit_post_path %>
		<%= link_to "Delete", post_path(@post), :confirm => "Are you sure?", :method => :delete %>
	</div>

</div>